*.php text eol=lf
/.github export-ignore
/docs export-ignore
/tests export-ignore
/tools export-ignore
/var export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/CONTRIBUTING.md export-ignore
/README.md export-ignore
